
<%= render 'layouts/flash' %>
<% if logged_user %>
  <h2><%= logged_user.name%>'s cart</h2>
<% else %>
  <h2>Shopping cart</h2>
<% end %>  
<p>You have <%= pluralize(check_product_quantities(@cart), 'product')  %> in your shopping cart</p>
<table>  
<%= render 'form' %> 
<tr class="total_value">
  <td>Total: </td>
  <td id="tot"><%= @cart.total_price %></td>
</tr>	
</table>
<%= button_to 'Empty cart', cart_path(@cart), method: :delete, data: { confirm: 'Are you sure you want to empty the cart?' }, class: "button empty" %>
  