<%= form_for(@category) do |f| %>
  <%= render "errors/error_messages", object: @category %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :level %>
        <%= f.select :level, Category::LEVEL, prompt: "Choose a level" %>
      </li>  
      <li>
        <%= f.label :parent %>
        <%= f.select :parent, Category.all.collect {|c| "#{c.name}: level --> #{c.level}"} , prompt: "Choose a parent category" %>
      </li>
      <%= link_to 'check categories ids', categories_path %>
    </ol>
    <p>
      <%= f.submit %>
    </p>
  </fieldset>
<% end %>