  <div id="main">
  <%= render 'layouts/sider_user' %>  
</div>
<%= render 'layouts/flash' %>
<% @products.each do |product| %>
    <article class="product">
      <header>
        <h2><%= link_to product.name, product %></h2>
      </header>
      <%= place_image(product) %>
      <table>
        <tr>
          <p>
            Description: <%= truncate(product.description, length: 10) %>
          </p>
        </tr>
        <tr>
          <p>
           Price: <%= format_price(product) %>
          </p>
        </tr>
        <tr>
          <p>
           Quantity available: <%= product_availability(product) %>
          </p>
        </tr>
        <tr>
          <p id="new_prod">
           <%= new_product(product) %>
          </p>
        </tr>
      </table>
    </article>  
<% end %>

