
<%= render 'layouts/flash' %>
 
<article class="product">
  <% if !@product.categories.empty? %>
    <p><%= link_to @product.categories.first.name %>  >  
       <%= link_to @product.categories.second.name %>  >  
       <%= link_to @product.categories.third.name %>  >  
       <%= @product.name %>
  <% end %>     
  <header>
    <h1><%= @product.name %></h1>
  </header>
  <%= place_image(@product) %> 
  <h2>Description</h2>
  <p>
    <%= @product.description %>
  </p>
  <h3>Price</h3>
  <p>
    <%= format_price(@product) %>
  </p>
  <p>
    <%= link_to pluralize(@product.reviews.size, 'Review'), product_reviews_url(@product), class: 'button' %>
    <%= link_to 'Write review', new_product_review_path(@product) %>
  </p>  
<% if admin_user? %>
  <div id="prod_links">
    <%= link_to "Edit product", edit_product_path(@product) %> |
    <%= link_to 'Delete product', product_path(@product), method: :delete, data: { confirm: 'Are you sure you want to delete this product?' } %> |
    <%= link_to 'Cancel', products_path %>
  </div>
<% end %>  
  <p>
    <div id="btn"><%= display_add_button(@product) %></div> 
    <div id="retbtn"><%= link_to 'Return', products_path, class: 'button' %></div>
  </p>
</article>