<article> 
  <header>
    <h1><%= @product.name %></h1>
  </header>
  <%= place_image(@product) %> 
  <h2>Description</h2>
  <p>
    <%= @product.description %>
  </p>
  <h3>Price</h3>
  <p>
    <%= format_price(@product) %>
  </p>
</article>
<div id="prod_links">
  <%= link_to "Edit product", edit_product_path(@product) %> |
  <%= link_to 'Delete product', product_path(@product), method: :delete, data: { confirm: 'Are you sure you want to delete this product?' } %> |
  <%= link_to 'Cancel', products_path %>
</div>
  <p>
    <%= button_to 'Add to cart', product_items_path(product: @product), remote: true, form: { "data-type" => "js" }, class: 'button add' %>
  </p>

