
  <aside id="sidebar">
	<nav>
	  <ol> 
	    <% if admin_user? %>
	        <li>
	          <%= link_to "Products", products_path, class: 'button' %>
	        </li>
		    <li>
		      <%= link_to "Add new product", new_product_path(@product), class: 'button' %>
		    </li> 
		    <li>
	          <%= link_to "Orders", orders_url, class: 'button' %>
	        </li>
	        <li>
              <%= link_to "Users", users_path, class: 'button' %>
	        </li> 
	        <li>
	          <%= link_to "Add new category", new_category_path, class: 'button' %>
		    </li> 
		    <li>
	          <%= link_to "Manage categories", categories_path, class: 'button' %>
		    </li>
		<% else %> 
            <li>
	          <%= link_to "Products", products_path, class: 'button' %>
	        </li>
	        <% if logged_user %>
	          <li>
	            <%= link_to "My Account", user_path(logged_user), class: 'button' %>
	          </li>
	          <li>
	            <%= link_to "My wishlist", user_wishlist_path(logged_user, Wishlist.where(user_id:  logged_user)), class: 'button' %>
	          </li>
	          <li>
	            <%= link_to "My orders", orders_url, class: 'button' %>
	          </li>
	        <% else %> 
              <li>
	            <%= link_to "My Account", signin_path, class: 'button' %>
	          </li>
	        <% end %>
	        <li>
	          <%= link_to "All wishlists", wishlists_path, class: 'button' %>
	        </li>    
		<% end %>       
	  </ol>  
	</nav>
  </aside>
